html, body{
  margin: 0px;
  padding: 0px;
  background-color: black;
}
.container{
  margin: auto;
  margin-top: 100px; 
  width: 500px;
}
.row{
  margin: 0px;
  padding: 0px;
}
.dot{
  border-radius: 50%;
  margin: 0px;
  width: 25px;
  height: 25px;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  color: darkgray;
  position: relative;
  display: inline-block;
}
.square:hover{
  opacity: .8;
  box-shadow: 1px 1px;
  color: white;
  font-size: 1.4em;
  }

.d1{
  background-color: #DB2B39;
  z-index: 1;
  animation:
    roll 4s linear 1s 2,
    fade 2s linear 1s 2 alternate backwards,
    grow 4s linear 1s 2 forwards,
    squareUp 4s linear 1s 2 alternate,
    strobeText 4s ease-in 1s 2 forwards;
     
}
.d2{
  background-color: #EFA00B;
  z-index: 2;
  animation:
    roll 4s linear 1s 2,
    fade 2s linear 1s 2 alternate backwards,
    grow 4s linear 1s 2 forwards,
    squareUp 4s linear 1s 2 alternate,
    strobeText 4s ease-in 1s 2 forwards;
}
.d3{
  background-color: #0075C4;
  z-index: 3;
  animation:
    roll 4s linear 1s 2 reverse,
    fade 2s linear 1s 2 alternate backwards,
    grow 4s linear 1s 2 forwards,
    squareUp 4s linear 1s 2 alternate,
    strobeText 4s ease-in 1s 2 forwards;
}
.d4{
  background-color: #FF4E00;
  z-index: 4;
  animation:
    roll 4s linear 1s 2 reverse,
    fade 2s linear 1s 2 alternate backwards,
    grow 4s linear 1s 2 forwards,
    squareUp 4s linear 1s 2 alternate,
    strobeText 4s ease-in 1s 2 forwards;
}
@keyframes fade{
  from{
    opacity: 0;    
  }
  to{
    opacity: 1;
  }
}
@keyframes roll{
  from{
    transform: rotate(0deg);  
  }
  to{
    transform: rotate(360deg);  
  }
}
@keyframes grow{
  from{
    font-size: .5em;
  }
  to{
    font-size: 2.5em;
  }
}
@keyframes squareUp{
  from{
    border-radius: 50%;
  }
  to{
    border-radius: 0%;
  }
}
@keyframes strobeText{
    from{
      color: darkgray;
    }20%{
      color: #DB2B39;
    }40%{
      color: #EFA00B;
    }60%{
      color: #0075C4;
    }80%{
      color: #FF4E00;
    }to{
      color: white;
    }
}
